.main-image{
    float: right;
    display: block;
    display: inline-block;  
    margin-top:-5%;


    
    
}
.logo-text{
  color: yellow;
  margin-left: 
}
.main-text{
  margin-left: 15%;
  position: absolute;
  top: 10%;
  font-size: 85px;
  color: white;
  display:block;
  font-weight: bold;
  
  
}

.P{
   margin-left: 15%;
    color: white;
    font-size: 15px;
    top: 20%;
    position: absolute;
    top: 20%;
    margin-top: 15%;
    
}
input{
    margin-top: 30%;
    margin-left: 15%;
    
}


body{
    background-color:  #003366
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin: 10px;

  }
  .logos{
    margin-left: 15%;
    margin-top: 5%;
    
  }
  .fa:hover {
    opacity: 0.7;
}


  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }  



  @media only screen and (max-width: 100,200,300,500,600,800px,1500,2000) {
    .main-image{
      float: right;
      display: block;
      display: inline-block;  
      margin-top:-5%;
  
  
      
      
  }
  .logo-text{
    color: yellow;
    margin-left: 
  }
  .main-text{
    margin-left: 15%;
    position: absolute;
    top: 10%;
    font-size: 85px;
    color: white;
    display:block;
    font-weight: bold;
    
    
  }
  
  .P{
     margin-left: 15%;
      color: white;
      font-size: 15px;
      top: 20%;
      position: absolute;
      top: 20%;
      margin-top: 15%;
      
  }
  input{
      margin-top: 30%;
      margin-left: 15%;
      
  }
  
  
  body{
      background-color:  #003366
  }
  
  .fa {
      padding: 10px;
      font-size: 30px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
      margin: 10px;
  
    }
    .logos{
      margin-left: 15%;
      margin-top: 5%;
      
    }
    .fa:hover {
      opacity: 0.7;
  }
  
  
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }  
    
  }